<table id="example1" class="table table-bordered table-striped">
    <thead>
    <tr class="text-center">
        <th>Nº</th>
        <th>Tipo Comprobante</th>
        <th>Comprobante</th>
        <th>Estado</th>
        <th>Fecha</th>
        <th>Pago</th>
        <th>Información Cliente</th>
        <th>Total</th>
        <th class="no-export">Descargar</th>
    </tr>
    </thead>
    <tbody id="order_list">
    {% if type_search == '4' %}
        {% for o in orders_dict %}
            <tr class="text-center" order="{{ o.id }}">
            <td class="align-middle p-1">{{ o.number }}</td>
            <td class="align-middle p-1">{{ o.doc_display }}</td>
            <td class="align-middle p-1">
                {% if o.bill_number %}
                    {{ o.bill_serial }}-{{ o.bill_number }}
                {% elif o.note_serial %}
                    {{ o.note_serial }}-{{ o.note_number }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td class="align-middle p-1">
                {{ o.condition }}
            </td>
            <td class="align-middle p-1">{{ o.create_at }}</td>
            <td class="align-middle p-1">
                {{ o.payment_display }}
            </td>
            <td class="text-left text-uppercase align-middle p-1" style="white-space: normal; word-wrap: break-word"><p
                    class="m-0">{{ o.person_names }}</p></td>
            <td class="text-right align-middle p-1">
                {% if o.status == 'N' %}
                    <span class="text-danger">-{{ o.total|safe }}</span>
                {% else %}
                    {{ o.total|safe }}
                {% endif %}
            </td>
            <td class="align-middle p-1 noExport">
                <button type="button"  onclick="{% if o.type == 'T' %}DownloadPDFQuotation({{ o.id }}){% else %}DownloadPDF({{ o.id }}){% endif %}" class="btn btn-sm btn-warning"><i
                        class="icon-cloud-download"></i></button>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        {% for o in order_set %}
            <tr class="text-center" order="{{ o.id }}">
            <td class="align-middle p-1">{{ o.number }}</td>
            <td class="align-middle p-1">{{ o.get_doc_display }}</td>
            <td class="align-middle p-1">
                {% if o.bill_number %}
                    {{ o.bill_serial }}-{{ o.bill_number }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td class="align-middle p-1">
                {% if o.condition == 'PA' or o.condition == 'A' %}
                    ANULADA
                {% else %}
                    {{ o.get_status_display }}
                {% endif %}
            </td>
            <td class="align-middle p-1">{{ o.create_at|date:'d-m-Y' }}</td>
            <td class="align-middle p-1">
                {{ o.payments_set.first.get_payment_display }}
            </td>
            <td class="text-left text-uppercase align-middle p-1" style="white-space: normal; word-wrap: break-word"><p
                    class="m-0">{{ o.person.names }}</p></td>
            <td class="text-right align-middle p-1">
                {% if o.status == 'N' %}
                    <span class="text-danger">-{{ o.total|safe }}</span>
                {% else %}
                    {{ o.total|safe }}
                {% endif %}
            </td>
            <td class="align-middle p-1 noExport">
                <button type="button"  onclick="{% if o.type == 'T' %}DownloadPDFQuotation({{ o.id }}){% else %}DownloadPDF({{ o.id }}){% endif %}" class="btn btn-sm btn-warning"><i
                        class="icon-cloud-download"></i></button>
            </td>
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    <tfoot class="table-sm">
        <!-- Total del tipo seleccionado -->
        <tr class="text-center fw-bold">
            <td colspan="6" class="text-end">

            </td>
            <td colspan="1" class="text-end">
                {% if type_search == '0' %}
                    <span class="text-white">TOTAL TICKETS:</span>
                {% elif type_search == '1' %}
                    <span class="text-white">TOTAL FACTURAS:</span>
                {% elif type_search == '2' %}
                    <span class="text-white">TOTAL BOLETAS:</span>
                {% elif type_search == '3' %}
                    <span class="text-white">TOTAL PENDIENTES:</span>
                {% elif type_search == '5' %}
                    <span class="text-white">TOTAL COTIZACIONES:</span>
                {% elif type_search == '4' %}
                    <span class="text-white">TOTAL GENERAL:</span>
                {% endif %}
            </td>
            <td class="text-right fw-bold p-1">
                {% if type_search == '0' %}
                    <span class="text-white">{{ totals_by_type.tickets|safe }}</span>
                {% elif type_search == '1' %}
                    <span class="text-white">{{ totals_by_type.facturas|safe }}</span>
                {% elif type_search == '2' %}
                    <span class="text-white">{{ totals_by_type.boletas|safe }}</span>
                {% elif type_search == '3' %}
                    <span class="text-white">{{ totals_by_type.pendientes|safe }}</span>
                {% elif type_search == '5' %}
                    <span class="text-white">{{ totals_by_type.cotizaciones|safe }}</span>
                {% elif type_search == '4' %}
                    {% with total_general=totals_by_type.tickets|add:totals_by_type.facturas|add:totals_by_type.boletas|add:totals_by_type.pendientes|add:totals_by_type.cotizaciones|add:totals_by_type.anuladas %}
                        {% with final_total=total_general|add:totals_by_type.notas_credito %}
                            <span class="text-white">{{ final_total|safe }}</span>
                        {% endwith %}
                    {% endwith %}
                {% endif %}
            </td>
            <td class="no-export"></td>
        </tr>
    </tfoot>
</table>
<script type="text/javascript">
    {# Configuración de DataTables con exportación a Excel (.xls) e inclusión del footer #}
    $(document).ready(function () {
        $("#example1").DataTable({
            //"ordering": false,
            "order": [[0, 'desc']],
            "aLengthMenu": [1000],
            "responsive": true, 
            "lengthChange": false, 
            "autoWidth": false,
            "dom": 'Bfrtip',
            "buttons": [
                {
                    extend: 'copy',
                    text: 'Copiar',
                    footer: true
                },
                {
                    extend: 'excel',
                    text: 'Excel',
                    footer: true,
                    title: 'Reporte de Comprobantes',
                    extension: '.xls',
                    columns: ':not(.noExport)',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'csv',
                    text: 'CSV',
                    footer: true
                },
                {
                    extend: 'pdf',
                    text: 'PDF',
                    footer: true
                },
                {
                    extend: 'print',
                    text: 'Imprimir',
                    footer: true
                }
            ]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>