{% extends 'home.html' %}
{% load static %}
{% block title %}
    REPORTE
{% endblock title %}

{% block body %}
    <div class="card mt-3 h-100">
        <div class="card-header pt-2 pb-2">
            <div class="row d-flex">
                {#                <div class="col-sm-1 col-md-1">#}
                {#                    <h5 class="card-title fw-">Filtrado</h5>#}
                {#                    <h6 class="card-subtitle text-muted">Reporte</h6>#}
                {#                </div>#}
                <div class="col-sm-6 col-md-6 align-self-center">
                    <div class="form-group align-self-center form-check-inline m-0" id="form-check">
                        <div class="icheck-material-warning p-1">
                            <input type="radio" name="inlineRadioOptions" class="form-check-input" id="ticket"
                                   value="0" checked>
                            <label class="form-check-label text-white" for="ticket">Tickets
                            </label>
                        </div>
                        <div class="icheck-material-warning p-1">
                            <input type="radio" name="inlineRadioOptions" class="form-check-input" id="invoice-f"
                                   value="1">
                            <label class="form-check-label text-white" for="invoice-f">Factura
                            </label>
                        </div>
                        <div class="icheck-material-warning p-1">
                            <input type="radio" name="inlineRadioOptions" class="form-check-input" id="invoice-b"
                                   value="2">
                            <label class="form-check-label text-white" for="invoice-b">Boleta
                            </label>
                        </div>
                        <div class="icheck-material-warning p-1">
                            <input type="radio" name="inlineRadioOptions" class="form-check-input" id="slopes"
                                   value="3">
                            <label class="form-check-label text-white" for="slopes">Pendientes
                            </label>
                        </div>
                        <div class="icheck-material-warning p-1">
                            <input type="radio" name="inlineRadioOptions" class="form-check-input" id="quotation"
                                   value="5">
                            <label class="form-check-label text-white" for="quotation">Cotización
                            </label>
                        </div>
                        <div class="icheck-material-warning p-1">
                            <input type="radio" name="inlineRadioOptions" class="form-check-input" id="everybody"
                                   value="4">
                            <label class="form-check-label text-white" for="everybody">Todos
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2">
                    <input type="date" class="form-control" id="init" value="{{ date|date:'Y-m-d' }}">
                </div>
                <div class="col-sm-2 col-md-2">
                    <input type="date" class="form-control" id="end" value="{{ date|date:'Y-m-d' }}">
                </div>
                <div class="col-sm-1 col-md-1 text-center align-middle">
                    <button class="btn btn-light" onclick="Consult()">
                        Filtrar
                    </button>
                </div>
            </div>
        </div>
        <hr class="my-0"/>
        <div class="card-body p-2 h-100">
            <div id="id-order-table" class="table-responsive-sm">
{#                {% include "accounting/deposit_report_grid.html" %}#}
            </div>
        </div>
    </div>
    <div class="loader-container col-auto" id="loader-bill"
             style="display: none; opacity: 1.5; width: 100%; padding-top: 12em; padding-left: 60em;">
            <div class="loader"></div>
        </div>
    <div class="text-center align-self-center" id="id-loading" style="
                display: none;
                position: absolute;
                top: 0px;
                left: 0px;
                background: #e9ecef;
                opacity: 0.5;
                width: 100%;
                height: 100%;
                padding-top: 21em;"><p class="text-primary">Cargando...</p>
        <div class="loader5"></div>
    </div>
{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">
        loader = '<div class="container">' +
            '<div class="row">' +
            '<div class="col-md-12">' +
            '<div class="loader">' +
            '<p><strong>Cargando..</strong></p>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';

        //Consult()
        function Consult() {
            let init = $('#init').val()
            if (init === '') {
                toastr.warning('Ingrese una fecha inicial valida')
                return false
            }
            let end = $('#end').val()
            if (end === '') {
                toastr.warning('Ingrese una fecha final valida')
                return false
            }
            let v = $('input[name="inlineRadioOptions"]:checked').val()
            $('#loader-bill').html(loader).show()
            $.ajax({
                url: '/accounting/get_order_type/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {'v': v, 'init': init, 'end': end},
                success: function (data) {
                    $('#id-order-table').empty().html(data.grid);
                    $('#loader-bill').hide();
                },
                error: function (response) {
                    toastr.error('Ocurrio un problema');
                    $('#loader-bill').hide();
                }
            });
        }

        function SendNubefact() {
            if (checkGrid() === false) {
                toastr.warning('¡Favor de seleccionar al menos Comprante un antes de enviar!', 'Error de LLenado!');
                return false;
            }
            $('#id-loading').css('display', '')
            $("tbody#invoice-nubefact tr").each(function () {
                let row = $(this)
                let order = row.attr('order')
                let check = row.find('td.item-check div input.value-check').is(':checked')
                if (check) {
                    if (parseInt(order) > 0) {
                        $.ajax({
                            url: '/accounting/invoice_sunat/',
                            async: true,
                            dataType: 'json',
                            type: 'GET',
                            data: {'o': order},
                            success: function (response) {
                                if (response.success) {
                                    row.remove()
                                } else {
                                    toastr.error(response.error, response.code)
                                }
                                $('#id-loading').css('display', 'none')
                            },
                            error: function (response) {
                                toastr.error('Ocurrio un problema')
                                $('#id-loading').css('display', 'none')
                            }
                        });
                    }
                }
            });
        }

        function checkGrid() {
            let fchek = false;
            $('#invoice-nubefact tr td input[type="checkbox"]').each(function () {
                if ($(this).prop('checked')) {
                    fchek = true;
                }
            });
            return fchek;
        }

        $(document).on('click', '.btn-selectall', function () {
            $('input[type="checkbox"][class="value-check"]').prop('checked', true);
        });
        $(document).on('click', '.btn-undoselect', function () {
            $('input[type="checkbox"][class="value-check"]').prop('checked', false);
        });

        function DownloadPDF(o) {
            {#window.open("/accounting/quotation_pdf/" + o + "/", '_blank');#}
            window.open("/accounting/pdf/" + o + "/", '_blank');
        }

        function DownloadPDFQuotation(o) {
            window.open("/accounting/quotation_pdf/" + o + "/", '_blank');
            {#window.open("/accounting/pdf/" + o + "/", '_blank');#}
        }
    </script>
{% endblock extrajs %}