{% load static %}
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content bg-primary">
        <div class="modal-header">
            <h6 class="modal-title">KARDEX DEL PRODUCTO {{ product_obj.name }}</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-header row">
{#                    <div class="form-group col-md-3 text-center">#}
{#                        <label for="month">Seleccione el mes</label>#}
{#                        <input type="month" class="form-control text-center" id="month" value="">#}
{#                    </div>#}
                    <div class="form-group col-md-2 text-center">
                        <label for="month">Inicio</label>
                        <input type="date" class="form-control text-center" id="init" value="">
                    </div>
                    <div class="form-group col-md-2 text-center">
                        <label for="month">Final</label>
                        <input type="date" class="form-control text-center" id="end" value="">
                    </div>
                    <div class="form-group col-md-2 text-center">
                        <label for="month">Descarga Kardex</label>
                        <button type="button" class="btn btn-success" onclick="KardexExcel()">
                            <span class="icon-cloud-download"></span> Excel
                        </button>
                    </div>
                    <div class="form-group col-md-4 text-center">
                        <label for="store">Nombre producto</label>
                        <input type="text" class="form-control text-center" id="name" value="{{ product_obj.name }}">
                    </div>
                    <div class="form-group col-md-2 text-center">
                        <label for="store">Almacen</label>
                        <input type="text" class="form-control text-center" id="store" value="{{ product_obj.store }}">
                    </div>
                    <input type="hidden" class="form-control" id="product-pk" value="{{ product_obj.id }}">
                </div>
                <div class="card-body" id="kardex-detail">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="btn-close" class="btn btn-light" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    {#$(document).on('change keyup', '#month', function () {#}
    {#    SearchKardex()#}
    {# });#}
    $(document).on('change', '#init', function () {
        if($(this).val()){
            if($('#init').val() === ""){
                toastr.warning('Seleccione la fecha inicial')
                return false
            }
            if($('#end').val() === ""){
                toastr.warning('Seleccione la fecha final')
                return false
            }
            SearchKardex()
        }
    });
    $(document).on('change', '#end', function () {
        if($(this).val()){
            if($('#init').val() === ""){
                toastr.warning('Seleccione la fecha inicial')
                return false
            }
            if($('#end').val() === ""){
                toastr.warning('Seleccione la fecha final')
                return false
            }
            SearchKardex()
        }
    });

    function SearchKardex() {
        {#let month = $('#month').val()#}
        let product = $('#product-pk').val()
        if (product !== '') {
            $.ajax({
                url: '/sales/get_kardex/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {'init': $('#init').val(), 'end': $('#end').val(), 'product': product},
                success: function (data) {
                    $('#kardex-detail').empty().html(data.grid);
                },
                error: function (response) {
                    toastr.error('Ocurrio un problema')
                }
            });
        }
    };

    function KardexExcel() {
        {#let m = $('#month').val()#}
        let init = $('#init').val()
        let end = $('#end').val()
        let p = $('#product-pk').val()
        if (p && init && end) {
            {#window.location.href = "{% url 'sales:reportkardex' month=m pk=p %}";#}
            {#window.open("/sales/reportkardex/" + m + "/" + p + "/");#}
            {#window.open("/sales/reportkardex/" + m + "/" + p + "/", '_top');#}
            window.open("/sales/reportkardex/" + init + "/" + end + "/" + p + "/", '_top');
        }
    }
</script>