{% extends 'home.html' %}
{% load static %}
{% block title %}
    COMPRAS
{% endblock title %}

{% block body %}
    <div class="card mt-3 h-100">
        <div class="card-header pt-2 pb-2">
            <div class="row d-flex">
                <div class="col-sm-2 col-md-2">
                    <h5 class="card-title fw-">Reporte de Compras</h5>
{#                    <h6 class="card-subtitle text-muted">Listado</h6>#}
                </div>
                <div class="col-sm-5 col-md-5 align-self-center text-right">
                    <button type="button" class="btn btn-success" onclick="ReportPurchase()">Descargar</button>
                </div>
                <div class="col-sm-2 col-md-2 align-self-center">
                    <input type="date" class="form-control" id="init" value="{{ date_now|date:'Y-m-d' }}">
                </div>
                <div class="col-sm-2 col-md-2 align-self-center">
                    <input type="date" class="form-control" id="end" value="{{ date_now|date:'Y-m-d' }}">
                </div>
                <div class="col-sm-1 col-md-1 text-center align-self-center">
                    <button class="btn btn-light" onclick="Consult()">
                        Filtrar
                    </button>
                </div>
            </div>
        </div>
        <hr class="my-0"/>
        <div class="card-body p-2 h-100">
            <div id="id-order-table" class="table-responsive">
                {% include "sales/purchase_grid_list.html" %}
            </div>
        </div>
    </div>
    <div class="text-center align-self-center" id="id-loading" style="
                display: none;
                position: absolute;
                top: 0px;
                left: 0px;
                background: #e9ecef;
                opacity: 0.5;
                width: 100%;
                height: 100%;
                padding-top: 21em;"><p class="text-primary">Cargando...</p>
        <div class="loader5"></div>
    </div>
{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">

        Consult()

        function Consult() {
            let init = $('#init').val()
            if (init === '') {
                toastr.warning('Ingrese una fecha inicial valida')
                return false
            }
            let end = $('#end').val()
            if (end === '') {
                toastr.warning('Ingrese una fecha final valida')
                return false
            }
            $.ajax({
                url: '/sales/get_purchase_by_date/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {'init': init, 'end': end},
                success: function (data) {
                    $('#id-order-table').empty().html(data.grid);
                },
                error: function (response) {
                    toastr.error('Ocurrio un problema')
                }
            });
        };

        function ReportPurchase() {
            let init = $('#init').val()
            if (init === '') {
                toastr.warning('Ingrese una fecha inicial valida')
                return false
            }
            let end = $('#end').val()
            if (end === '') {
                toastr.warning('Ingrese una fecha final valida')
                return false
            }
            if (init && end) {
                {#window.location.href = "{% url 'sales:reportkardex' month=m pk=p %}";#}
                {#window.open("/sales/reportkardex/" + m + "/" + p + "/");#}
                window.open("/sales/purchase_excel/" + init + "/" + end + "/", '_top');
            }
        }

        function PassPurchase(o) {
            if (parseInt(o) > 0) {
                $.ajax({
                    url: '/sales/pass_purchase/',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    data: {'order': o},
                    success: function (response) {
                        if (response.success) {
                            Consult()
                            toastr.success(response.message)
                        } else {
                            toastr.error(response.message)
                        }
                    },
                    error: function (response) {
                        toastr.error('Ocurrio problemas en el proceso')
                    }
                });
            }
        }

        function CancelPurchase(o) {
            let r = confirm("¿Esta seguro de anular la orden?")
            if (r === true) {
                if (parseInt(o) > 0) {
                    $.ajax({
                        url: '/sales/cancel_purchase/',
                        async: true,
                        dataType: 'json',
                        type: 'GET',
                        data: {'order': o},
                        success: function (response) {
                            if (response.success) {
                                Consult()
                                toastr.success(response.message)
                            } else {
                                toastr.error(response.message)
                            }
                        },
                        error: function (response) {
                            toastr.error('Ocurrio problemas en el proceso')
                        }
                    });
                }
            }
        }
    </script>
{% endblock extrajs %}